on:
  pull_request:

name: Miri

# NOTE: due to extensive FFI use, all tests
# run with miri must have miri in the test name.
# Such tests must make NO calls into tskit-c!
# (They must make no calls into any FFI for that matter...)
# The "test miri" args below only run the desired tests.

jobs:
  test_miri:
    name: Test (Miri)
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions-rs/toolchain@v1.0.6
        with:
          profile: minimal
          toolchain: nightly
          override: true
          components: miri
      - uses: actions-rs/cargo@v1.0.3
        with:
          command: miri
          args: test miri
