on:
  push:
    branches: [main]
  pull_request:

name: semver-checks

jobs:
  semver:
    name: Run cargo-semver-checks
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        rust:
          - stable
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          components: clippy
      - name: Install cargo-semver-checks
        uses: baptiste0928/cargo-install@v3.3.2
        with:
          crate: cargo-semver-checks
          version: '0.43.0'
      - name: run check-release
      # We set the cargo version here to dodge ecosystem
      # issues that can arise b/c semver-checks doesnt'
      # respect our Cargo.lock
        run: cargo +1.90.0 semver-checks check-release
